/apple/target/*
/build
/install/games
/install/installs
/install/q3data
/install/q3map2
/install/q3map2_urt
/install/radiant.bin
/install/share
/packs
/site.sconf
/.sconsign.dblite
*.pyc
*.so
.settings
.DS_Store
*.obj
*.tlog
