.settings
.DS_Store

/apple/target/*
/build
/install
/packs
/tools/urt/tools/quake3/q3map2/Debug
/tools/urt/tools/quake3/q3map2/Release
/.sconsign.dblite
/.vs/*
/radiant.opensdf
/radiant.sdf
/radiant.suo
/radiant.v11.suo
/radiant.v12.suo
/radiant.VC.db
/site.sconf

*.log
*.pdb
*.obj
*.pyc
*.so
*.tlog
*.vcxproj.user
*.zip





