<?xml version="1.0" encoding="iso-8859-1" standalone="yes"?>
<!-- synapse XML configuration -->
<synapseconfig>
  <client name="core">
    <api name="image">
      tga jpg
    </api>
    <api name="VFS">
      pk3
    </api>
    <api name="shaders">
      ufoai
    </api>
    <api name="map">
      mapq2
    </api>
    <api name="eclass">
      def
    </api>
    <api name="surfdialog">
      ufoai
    </api>
    <api name="model">
      md2
    </api>
  </client>
  <client name="image">
    <api name="VFS">
      pk3
    </api>
  </client>
  <client name="shaders">
    <!-- NOTE: this is a SYN_PROVIDE -->
    <api name="shaders">
      ufoai
    </api>
    <api name="VFS">
      pk3
    </api>
  </client>
  <client name="map">
    <api name="shaders">
      ufoai
    </api>
  </client>
  <client name="xmap">
    <api name="shaders">
      ufoai
    </api>
  </client>
  <client name="model">
    <api name="shaders">
      ufoai
    </api>
    <api name="VFS">
      pk3
    </api>
  </client>
</synapseconfig>
